@import './variable.scss';
//头像+list-info-right-container
.list-info-container{
	padding: 10px 10px;
	display: flex;
	align-items: center;
	// background-color:red;
}
//列表头像
.list-avatar{
	width: 80rpx;
	height: 80rpx;
	border-radius: 40rpx;
}
.list-info-right-container{
	margin-left: 10px;
} 
//昵称&性别
.list-name-sex-container{
	display: flex;
	align-items: center;
}
//昵称
.list-name{
	font-size:30rpx;
	color:#333333;
}
//性别
.list-sex{
	width: 22rpx;
	height: 22rpx;
	margin-left:10rpx;
}
//在线
.list-uonlinetime{
	margin-left: 10rpx;
	font-size: 20rpx;
	color: #b4b0b1;
}
//职业&城市
.identity-city-container{
	display: flex;
	margin-top: 0px;
	align-items: center;
}
//职业&地区
.list-identity-city{
	font-size: 22rpx;
	color: #b4b0b1;
	margin-right: 3px;
}
//实名
.list-shiming,
.list-danbao{
	height: 26rpx;
	width: 80rpx;
	padding: 3px 3px;
	margin-left: 2px;
}
//关注按钮
.follow-icon{
	width: 100rpx;
	height: 50rpx;
}


/**********居中的选项卡************/
.center-tab{
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #fff;
	padding: 0px 80rpx;
	height: 80rpx;
	.center-tab-item {
		// background-color: yellow;
		font-size: 28rpx;
		color: #686767;
		line-height: 60rpx;
	}
	
	.active {
		color: #3b3a3a;
		border-bottom: 2px solid $main-theme-color;
	}	
}

/***********隐藏scroll-view滚动条***********/
/* 解决小程序和app滚动条的问题 */
/* #ifdef MP-WEIXIN || APP-PLUS */
	.hide-scrollbar {
		width: 100vw;
		height: 100vh;
		overflow: auto;
	}
	.hide-scrollbar::-webkit-scrollbar {
		display: none;
		width: 0 !important;
		height: 0 !important;
		-webkit-appearance: none;
		background: transparent;
		color: transparent;
	}
/* #endif */ 
		
/* 解决H5 的问题 */
/* #ifdef H5 */
	uni-scroll-view .uni-scroll-view::-webkit-scrollbar {
	/* 隐藏滚动条，但依旧具备可以滚动的功能 */
		display: none;
		width: 0 !important;
		height: 0 !important;
		-webkit-appearance: none;
		background: transparent;
		color: transparent;
	}
/* #endif */