
/***颜色***/
//主题色
$main-theme-color:#fe5457;
$main-theme-color2:#2979ff;
//页面背景色
$background-color: #f5f5f5;

/***间距***/
$border-radius:5px;
$margin-left-right:16rpx;
//列表行/列间距
$list-row-col-spacing:10rpx;